/* always doing this */

.flex-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* and this */

// .center {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// Variables
// CSS Reset
//
// =Variables
// --------------------------------------------------
$font-family: "testfont",
sans-serf;
$normal-font: 400;
$bold-font: 700;
$bolder-font: 900;
$bg-color: #fcfcfc;
$primary-color: #4756df;
$secondary-color: #ff7235;
$primary-shadow: #8b8eaf;
$secondary-shadow: #a17a69;
$dark :#1d1d1d;
$bottom-margin: 0.5rem;
$bottom-margin-2: 1rem;
$line-height: 1.7rem;
$transition: 0.3s;
$salutation-size: 16px;
$contact-bg: rgba(250, 195, 65, 1);
html {
    scroll-behavior: smooth;
}

// =CSS Reset
// --------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    // color: $primary-color;
}

a:hover {
    text-decoration: none;
    // color: $secondary-color;
}

body {
    font-family: $font-family;
}